In [ ]:
# Write a Python script to sort (ascending and descending) a
# dictionary by value.
dic = {'A':12,'B':324,'C':34,'D':65}
# a = dict({'W':7,'X':3,'Y':2,'Z':1})

ascending = sorted(dic)
print("Ascending Order Dictionary= ",ascending)
descending= sorted(dic, reverse = True)
print("Descending Order Dictionary= ",descending)

Ascending Order Dictionary=  ['A', 'B', 'C', 'D']
Descending Order Dictionary=  ['D', 'C', 'B', 'A']

Dictionary Task

In [ ]:
dic1={'1':{'course':'python','time':'9-11'},'2':{'course':'php','time':'11-1','key1':{'date':'24/4/2023'}}}
print(dic1.items())
for a,b in dic1.items():
  for c,d in b.items():
    print(a,c,d)
    if type(d) == dict:
      for e,f in d.items():
        print(e,f)

dict_items([('1', {'course': 'python', 'time': '9-11'}), ('2', {'course': 'php', 'time': '11-1', 'key1': {'date': '24/4/2023'}})])
1 course python
1 time 9-11
2 course php
2 time 11-1
2 key1 {'date': '24/4/2023'}
date 24/4/2023

In [ ]:
# â€¢ Write a Python script to concatenate three dictionaries to create a
# new one.


dic1 = {'A':12,'B':324,'C':34,'D':65}
dic2 = dict({'W':7,'X':3,'Y':2,'Z':1})
dic3= {'k':12,'L':345,'M':4,'N':7,'O':9,'P':34,'Q':2}

dic1.update(dic2)
dic1.update(dic3)
final_dic = dic1
print("New Dictionary is: ",final_dic)
print("Sorted New Dictionary is : " ,sorted(final_dic))

New Dictionary is:  {'A': 12, 'B': 324, 'C': 34, 'D': 65, 'W': 7, 'X': 3, 'Y': 2, 'Z': 1, 'k': 12, 'L': 345, 'M': 4, 'N': 7, 'O': 9, 'P': 34, 'Q': 2}
Sorted New Dictionary is :  ['A', 'B', 'C', 'D', 'L', 'M', 'N', 'O', 'P', 'Q', 'W', 'X', 'Y', 'Z', 'k']

In [ ]:
# Write a Python script to merge two Python dictionaries.
dic = {'A':12,'B':324,'C':34,'D':65}
dic2 = dict({'W':7,'X':3,'Y':2,'Z':1})

a= dict(zip(dic,dic2))
a

{'A': 'W', 'B': 'X', 'C': 'Y', 'D': 'Z'}

In [ ]:
# Write a Python script to create a dictionary where the keys are
# numbers between 1 and 15 (both included) and the values are
# square of keys.
d= dict()
for i in range(1,16):
  d[i] = i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# Write a Python program to map two lists into a dictionary.

a = [12,23,4,6,8,3,2]
b = [4,6,3,22,5,4,55]
c = dict(zip(a,b))

print(c)

{12: 4, 23: 6, 4: 3, 6: 22, 8: 5, 3: 4, 2: 55}

In [ ]:
# Write a Python program to remove duplicates values from
# Dictionary.

c={12: 4, 23: 6,23:34, 4: 3, 6: 22, 8: 5, 3: 4, 2: 55}
if i in c:
  i == c
  c.pop(i)
print(c)

{12: 4, 23: 34, 4: 3, 6: 22, 8: 5, 3: 4, 2: 55}

In [ ]:
#split and count
text = "This is a sample text. It contains some words. This text is used for demonstration purposes."
words = text.split()
word_counts = {}
for word in words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

# Print the word counts
print("Word counts:")
for word, count in word_counts.items():
    print(f"{word}: {count}")

Word counts:
This: 2
is: 2
a: 1
sample: 1
text.: 1
It: 1
contains: 1
some: 1
words.: 1
text: 1
used: 1
for: 1
demonstration: 1
purposes.: 1