GroupBY

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'a':[1,2, 3, 4, 5, 6],
                   'b': [1, 1, 2, 3, 5, 8],
                   'c': [1, 4, 9, 16, 25, 36]})
df

   a  b   c
0  1  1   1
1  2  1   4
2  3  2   9
3  4  3  16
4  5  5  25
5  6  8  36

In [ ]:
df.diff()

     a    b     c
0  NaN  NaN   NaN
1  1.0  0.0   3.0
2  1.0  1.0   5.0
3  1.0  1.0   7.0
4  1.0  2.0   9.0
5  1.0  3.0  11.0

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [ ]:
df.groupby(['Animal']).describe()

       Max Speed
           count   mean       std    min    25%    50%    75%    max
Animal
Falcon       2.0  375.0  7.071068  370.0  372.5  375.0  377.5  380.0
Parrot       2.0   25.0  1.414214   24.0   24.5   25.0   25.5   26.0

In [ ]:
df.groupby(['Animal']).describe()

       Max Speed
           count   mean       std    min    25%    50%    75%    max
Animal
Falcon       2.0  375.0  7.071068  370.0  372.5  375.0  377.5  380.0
Parrot       2.0   25.0  1.414214   24.0   24.5   25.0   25.5   26.0

In [ ]:
df = pd.DataFrame()

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index= pd.MultiIndex.from_arrays(arrays, names =('Animal','Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},index=index)
df

# arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
#           ['Captive', 'Wild', 'Captive', 'Wild']]
# index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
# df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
#                   index=index)
# df

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [ ]:
arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
                  index=index)
df

                Max Speed
Animal Type
Falcon Captive      390.0
       Wild         350.0
Parrot Captive       30.0
       Wild          20.0

In [ ]:
a = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
z= pd.MultiIndex.from_arrays(a ,names = ('x','y'))
z

MultiIndex([('Falcon', 'Captive'),
            ('Falcon',    'Wild'),
            ('Parrot', 'Captive'),
            ('Parrot',    'Wild')],
           names=['x', 'y'])

In [ ]:
a = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
          ['Captive', 'Wild', 'Captive', 'Wild']]
z= pd.MultiIndex.from_arrays(a ,names = ('x','y'))
df = pd.DataFrame({'NUmber':[390., 350., 30., 20.]},index = z)
df

                NUmber
x      y
Falcon Captive   390.0
       Wild      350.0
Parrot Captive    30.0
       Wild       20.0

In [ ]:
z = pd.MultiIndex.from_arrays(a,names = ('Column_Name','y'))
df = pd.DataFrame({'NUmber':[390., 350., 30., 20.]},index = z)
df

                     NUmber
Column_Name y
Falcon      Captive   390.0
            Wild      350.0
Parrot      Captive    30.0
            Wild       20.0

In [ ]:
df.groupby(level = 0).count()

             NUmber
Column_Name
Falcon            2
Parrot            2

In [ ]:
df.groupby(level = 1).mean()

         NUmber
y
Captive   210.0
Wild      185.0

In [ ]:
df.groupby(level = ['y']).mean()

         NUmber
y
Captive   210.0
Wild      185.0

In [ ]:
l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c"])
df

   a    b  c
0  1  2.0  3
1  1  NaN  4
2  2  1.0  3
3  1  2.0  2

In [ ]:
l = [[1, 2, 3,5], [1, None, 4], [2, 1, 3], [1, 2, 2]]
df = pd.DataFrame(l, columns=["a", "b", "c",'d'])
df

   a    b  c    d
0  1  2.0  3  5.0
1  1  NaN  4  NaN
2  2  1.0  3  NaN
3  1  2.0  2  NaN

In [ ]:
df.groupby(['b']).sum()

     a  c    d
b
1.0  2  3  0.0
2.0  2  5  5.0

In [ ]:
df.groupby(['b'],dropna = False).sum()

     a  c    d
b
1.0  2  3  0.0
2.0  2  5  5.0
NaN  1  4  0.0

In [ ]:
df.groupby(by = 'b').sum()

     a  c    d
b
1.0  2  3  0.0
2.0  2  5  5.0

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot'],
                   'Max Speed': [380., 30., 24., 26.]})
df.groupby("Animal", group_keys=True).apply(lambda x: x)

          Animal  Max Speed
Animal
Falcon 0  Falcon      380.0
       1  Falcon       30.0
Parrot 2  Parrot       24.0
       3  Parrot       26.0

In [ ]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.]})
df.groupby("Animal", group_keys=False).apply(lambda x: x)

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

Pivot

In [ ]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

bar  A  B  C
foo
one  1  2  3
two  4  5  6

In [ ]:
df = pd.DataFrame({
    'a' : ['one','one','one','two','two','two'],
    'b' : ['A', 'B', 'C', 'A', 'B', 'C'],
    'c' : [1, 2, 3, 4, 5, 6],
    'd' :['x', 'y', 'z', 'q', 'w', 't']
})
df

     a  b  c  d
0  one  A  1  x
1  one  B  2  y
2  one  C  3  z
3  two  A  4  q
4  two  B  5  w
5  two  C  6  t

In [ ]:
df.pivot(index = 'a', columns= 'b',values = 'c')

b    A  B  C
a
one  1  2  3
two  4  5  6

In [ ]:
df = pd.DataFrame({
       "lev1": [1, 1, 1, 2, 2, 2],
       "lev2": [1, 1, 2, 1, 1, 2],
       "lev3": [1, 2, 1, 2, 1, 2],
       "lev4": [1, 2, 3, 4, 5, 6],
       "values": [0, 1, 2, 3, 4, 5]})
df

   lev1  lev2  lev3  lev4  values
0     1     1     1     1       0
1     1     1     2     2       1
2     1     2     1     3       2
3     2     1     2     4       3
4     2     1     1     5       4
5     2     2     2     6       5

In [ ]:
df.pivot(index = 'lev4' , columns = 'lev3', values = 'values')

lev3    1    2
lev4
1     0.0  NaN
2     NaN  1.0
3     2.0  NaN
4     NaN  3.0
5     4.0  NaN
6     NaN  5.0

DRY RUN

lev2  1 1 2 1 1 2

lev3  1 2 1 2 1 2

lev4  1 2 3 4 5 6


lev1

1     0 1 2

2     n n n 3 4 5

In [ ]:
df.pivot(index = 'lev1',columns = ['lev2','lev3','lev4'],values='values')

lev2    1         2    1         2
lev3    1    2    1    2    1    2
lev4    1    2    3    4    5    6
lev1
1     0.0  1.0  2.0  NaN  NaN  NaN
2     NaN  NaN  NaN  3.0  4.0  5.0

Notice that the first two rows are the same for our index and columns arguments.

In [ ]:
df = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df

   foo bar  baz
0  one   A    1
1  one   A    2
2  two   B    3
3  two   C    4

In [ ]:
# df.pivot(index='foo', columns='bar', values='baz') #duplicates

Pivot Table

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

DRY RUN

columns     small  large

a    b
foo   one  1 2

      two  3 n


bar   one  5  4

      two  6  7

In [ ]:
import numpy as np

In [ ]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],columns=['C'])
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    2.0    1.0
    two    NaN    3.0

In [ ]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                       columns=['C'], aggfunc=np.sum)
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [ ]:
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                       columns=['C'], aggfunc=np.mean)
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    2.0    1.0
    two    NaN    3.0

In [ ]:
pd.pivot_table(df,values = 'D' , index = ['A','B'],columns =['C'],aggfunc=np.sum, fill_value = 0)

C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6