In [ ]:
#when clas is emty we are just passing pass for error free class
class Dog:
    pass

### Object Consist of State , behaviour ,identity

The identity can be considered as the name of the dog.
State or Attributes can be considered as the breed, age, or color of the dog.
The behavior can be considered as to whether the dog is eating or sleeping.

In [ ]:
# creating class
# self is default parameter which is important
class Phone:
  def make_call(self):
    print("Making Phone Calls")
  def play_games(self):
    print("Playing Games")

In [ ]:
#instance/Object for class Phone
p1 = Phone()

In [ ]:
# Access that methods through objects
p1.make_call()
p1.play_games()

Making Phone Calls
Playing Games

In [ ]:
class Phone:
  def set_color(self,color):
    self.color = color
  def set_cost(self,cost):
    self.cost= cost
  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost
  def make_call(self):
    print("Making Phone Calls")
  def play_games(self):
    print("Playing Games")

In [ ]:
p2 = Phone()

In [ ]:
p2.set_color("blue")
p2.set_cost(100)
p2.show_color()

'blue'

In [ ]:
p2.show_color()

'blue'

In [ ]:
p2.show_cost()

100

In [ ]:
p2.make_call()
p2.play_games()

Making Phone Calls
Playing Games

In [ ]:
#constructor
class Employee:
  def __init__(self,name,age,salary,gender):
    self.name = name
    self.age = age
    self.salary = salary
    self.gender = gender
  def employee_details(self):
    print("Name of Employee id ",self.name )
    print(" age of Employee id ",self.age)
    print("salary of Employee id ",self.salary)
    print("gender of Employee id ",self.gender)

In [ ]:
e = Employee("savear",23,3300,'female')
e.employee_details()

Name of Employee id  savear
 age of Employee id  23
salary of Employee id  3300
gender of Employee id  female

In [ ]:
#INHERITANCE
class Vehicle:
  def __init__(self,milage,cost):
    self.milage = milage
    self.cost = cost
  def show_details(self):
    print("I am a Vehicle");
    print("Milage of this Vehicle is: " ,self.milage)
    print("cost of this Vehicle is: " ,self.cost)

In [ ]:
v = Vehicle(600,300)
v.show_details()

I am a Vehicle
Milage of this Vehicle is:  600
cost of this Vehicle is:  300

In [ ]:
#child class
class Car(Vehicle):
  def show_car(self):
    print("I am the car")

In [ ]:
c = Car() # error because this is parent class function and we need to put values in it
c.show_details()

TypeError: ignored

In [ ]:
c = Car(300,450)
c.show_details()

I am a Vehicle
Milage of this Vehicle is:  300
cost of this Vehicle is:  450

In [ ]:
c.show_car()

I am the car

In [ ]:
#overriding Method init method

In [ ]:
class Vehicle:
  def __init__(self,milage,cost):
    self.milage = milage
    self.cost = cost
  def show_details(self):
    print("I am a Vehicle");
    print("Milage of this Vehicle is: " ,self.milage)
    print("cost of this Vehicle is: " ,self.cost)

In [ ]:
class Car(Vehicle):
  def __init__(self,milage,cost,tyres,hp):
    super(). __init__(milage,cost)
    self.tyres = tyres
    self.hp = hp
  def show_car_details(self):
    print("I am a Vehicle");
    print("No of tyres are : " ,self.tyres)
    print("value of hourse power  is: " ,self.hp)

In [ ]:
c = Car(300,600000,90,888)

In [ ]:
c.show_details()

I am a Vehicle
Milage of this Vehicle is:  300
cost of this Vehicle is:  600000

In [ ]:
c.show_car_details()

I am a Vehicle
No of tyres are :  90
value of hourse power  is:  888

In [ ]:
# Creating a class and object with class and instance attributes

In [ ]:
# class Dog:
#   type = "mammal" # class attribute
#   def __init__(self,name):
#     self.name = name
# d = Dog("puppy")
# #for accessing class attribute
# print("Puppy is a {} ".format(d.__class__type))
# print("Puppy is a ",)

AttributeError: ignored