In [ ]:
a = 9
b = 10
c = 8
if a<b:
    print("a is lesser thab b")
    if b<c:
        print("b is lesser than c")
    else:
        print("b is greater than c")
else:
    print(" a is greater")

a is lesser thab b
b is greater than c

In [1]:
a= int(input())
b = int(input())
if a>b:
  print("a is grrater")

23
3
a is grrater

In [ ]:
#ternanry Operator
true_expression if condition else expression

In [ ]:
a,b = 10,20
print(a) if a>b else print(b)

In [ ]:
c,b,a = 9,10,24
print("a is greater ") if a>b>c else print ("a is lesser")

a is greater

In [ ]:
a,b,c,d,e = 9,10,24,78,78
print("a is greater ") if a<b<c<d>a else print ("d is lesser")

a is greater

In [ ]:
a,b,c,d,e = 9,10,24,78,7
"a is greater " if a<b<c<d>a else "d is lesser"

'a is greater '

In [ ]:
a,b,c = 9,10,8
greater = print("a is lesser thab b") if a<b else print(" a is greater")

a is lesser thab b
greater

In [ ]:
a = 8
b = 10
c = 8
if a !=b:
    print("a and b is not equal ")
    if b !=c:
        print("b and c is not equal")
    else:
        print("b and c is equal")
else:
    print(" a and b is equal")

a and b is not equal
b and c is not equal

In [ ]:
computer = 89
science = 80.8
maths = 39

if computer<=34:
    print("You Are fail in Computer")
if science<=34:
    print("You Are fail in science")
if maths<=34:
    print("You Are fail in maths")
else:
    print("Congratulation You clear in all subjects")

Congratulation You clear in all subjects

In [ ]:
maths =35
"You are fail in maths" if maths<=34 else "you are pass in maths"

'you are pass in maths'

In [ ]:
i =0
while i<3:
    print(i)
    i = i+1

0
1
2

In [ ]:
i =0
while i<=3:
    print(i)
    i = i+1

0
1
2
3

In [ ]:
i = 1
while i <= 10:
    print("COunting ",i)
    i = i+1

COunting  1
COunting  2
COunting  3
COunting  4
COunting  5
COunting  6
COunting  7
COunting  8
COunting  9
COunting  10

In [ ]:
i = 1
while i <= 10:
    print("2  * ",i," = ",2*i)
    i = i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [ ]:
i = 2
while i <= 20:
    if (i % 2 ==0):
        print(i)
    i = i+1

# even numbers = 2,4,6,8,10

2
4
6
8
10
12
14
16
18
20

In [ ]:
i = 1
while i <= 20:
    if (i % 2 !=0):
        print(i)
    i = i+1

1
3
5
7
9
11
13
15
17
19

In [ ]:
i = 10
table  =9
while i >= 1:
    print(table," * ",i," = ",table*i)
    i = i-1

9  *  10  =  90
9  *  9  =  81
9  *  8  =  72
9  *  7  =  63
9  *  6  =  54
9  *  5  =  45
9  *  4  =  36
9  *  3  =  27
9  *  2  =  18
9  *  1  =  9

In [ ]:
i = 20
while i >= 2:
    if (i % 2 ==0):
        print(i)
    i = i-1

# even numbers = 2,4,6,8,10

20
18
16
14
12
10
8
6
4
2

In [ ]:
i = 20
while i >= 1:
    if (i % 2 != 0):
        print(i)
    i = i-1

19
17
15
13
11
9
7
5
3
1

In [ ]:
#print series 10,20,30,40
i = 10
while i <= 100:
    if (i % 10 ==0):
        print(i)
    i = i+1

10
20
30
40
50
60
70
80
90
100

In [2]:
#105,98,91...7
i = 7
while i <= 105:
    if (i % 7 ==0):
        print(i)
    i = i+1

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105

In [ ]:
#natural numbers in reverese order
i =10
while i>=1:
    print(i)
    i = i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#sum of first ten even numbers
i = 2
sum = 0
while i <= 10:
    if (i % 2 ==0):
        print(i)
        sum = sum+i
    i = i+1

2
4
6
8
10

In [ ]:
i = 2
sum = 0
while i <=10:
    if(i %2 ==0):
        print(i)
        sum = sum+i
    i = i+1
print("The total sum is ",sum)

2
4
6
8
10
The total sum is  30

In [5]:
#prime number or not
num = int(input("Enter a number: "))
flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

Enter a number: 10
10 is not a prime number

In [6]:
#factorial
num = int(input("Enter a number: "))
factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120