# **List**

# **Functions**


append()	 Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

len()

type()

**Make a List and Use its Functions**

**List Items**

List items are **ordered**, **changeable,** and a**llow duplicate** values.

List items are **indexed**, the first item has index [0], the second item has index [1] etc.

In [1]:
# Can work with different datatypes
list1 = ["abc", 34, True, 40, "male"]
list1

['abc', 34, True, 40, 'male']

In [5]:
list1[1]

34

In [ ]:
list1[1:]

In [4]:
# using list() constructor make a list
a = list(("a","f","sf"))
a

['a', 'f', 'sf']

# **Change List Items**

change item
change item values in range

# **Add List Items**

append function

insert

extend (with list,one word,with set or tuple or dic)

#Access list items
list1[1]

list1[-1]

list1[2:5] #he search will start at index 2 (included) and end at index 5 (not included).

list1[:3] #start se 3 tak

list1[2:] #2 se end tak

list1[-4:-1]

# **Remove**

remove

pop

del

clear

# **loop**

for with or wo index
while

# List **Comprehension**
List Comprehension offers the shortest syntax for looping through lists:

A short hand for loop that will print all items in a list:

**Syntax**
newlist = [expression for item in iterable if condition == True]

### **Syntax **
newlist = [expression for item in iterable if condition == True]

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

# Without list comprehension you will have to write a for statement with a conditional test inside:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

With list comprehension you can do all that with only one line of code

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

Condition
The condition is like a filter that only accepts the items that valuate to True.

In [ ]:
# Only accept items that are not "apple":
newlist = [x for x in fruits if x != "apple"]

The condition is optional and can be omitted:

Example
With no if statement:

In [ ]:
newlist = [x for x in fruits]

**Iterable**

In [ ]:
newlist = [x for x in range(10)]

In [ ]:
# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]

Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

Example
Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]

Set all values in the new list to 'hello':

In [ ]:
newlist = ['hello' for x in fruits]

In [ ]:
# The expression in the example above says:

# "Return the item if it is not banana, if it is banana return orange".
newlist = [x if x != "banana" else "orange" for x in fruits]

# **Sort**

sort() both alp, num
sort descending
case insensitive sort in both upper and lower
reverse

# **Copy list**

# **Join List**

In [ ]:
list = []
for x in range(5):
    a = input("User enter")
    list.append(a)
print(list)

In [ ]:
x= fruits.count(" ")
x

In [ ]:
fruits.index("mango")

In [ ]:
pop()

# **Practice Questions**


What is a Python list?
How do you create an empty list in Python?
How do you create a list with initial values in Python?
How do you access an element in a list by its index?
How do you add an element to the end of a list in Python?
How do you remove an element from a list in Python?
How do you check if an element is present in a list?
How do you find the length of a list in Python?
How do you sort a list in ascending order in Python?
How do you reverse the order of elements in a list?